<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Note</title>
    <link rel="stylesheet" href="/new_form.css">
  
     
</head>
 
<body>
   <a href="/notes" class="back-btn">Back</a>

    <div class="page">
        
        <form method="POST" action="/notes/form" class="note-form needs-validation" novalidate>

            <div class="form-header">
                <h1>Create New Note</h1>
                <p>Capture your thoughts ✨</p>
            </div>

            <div class="form-group">
                <label>Title</label>
                <input type="text" name="title" placeholder="Enter a title" required>
            </div>

            <div class="form-group">
                <label>Note</label>
                <textarea name="content" placeholder="Write your note here..." required></textarea>
            </div>

            <div class="form-group checkbox-group">
                <label>
                    <input type="checkbox" name="isImportant">
                    Mark as important
                </label>
            </div>

            <button type="submit">Publish Note</button>

        </form>
    </div>
  <script src="/js/script.js"></script>
</body>
</html>
